body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-size: small;
	margin-bottom: 100px;
	/*  background-image: url('../bg.webp'); */
	background-color: #23272c;
}

#example1 { padding: 38px; width: 100%; background-color: #2d3136; }

.header {
	margin-top: 30px;
}

.gray { width: 100%; color: #ccc; }

.correct { border: 6px solid #4ba752; }

.header h1 {
	margin-top: 10px;
	color: white;
	font-family: 'Work Sans', sans-serif;
  font-weight: 900;
	font-size: 7vw;
  text-transform: uppercase;
}

h4 {
	padding-bottom: 10px;
}

h5 { color: #5daef1; font-style: italic; text-transform: uppercase; }

.image {
	width: 160;
	height: 90px;
}

.list-group {
	 width: 300px;
	 border: none;
	 border-radius: 8px;
	 display: flex;
	 flex-direction: row;
 	 overflow: scroll;
 }
 .list-group-item:first-child {
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
	}
 .list-group-item:last-child {
	 margin-bottom: 12px;
	 border-top-left-radius: 8px;
	 border-top-right-radius: 8px;
}

.list-group-item {
	 padding: 2px; /* 0.75rem 2rem; */
	 cursor: move;
/*	 background-image: url("../drag.webp"); */
	 background-size: 20px;
	 background-position: left;
	 background-repeat: no-repeat;
	 margin: 14px;
	 border-radius: 8px;
	 height: 230px;
	 width: 184px;
	   box-shadow: 3px 3px 10px rgb(0 0 0 / 0.3);
	/* display: flex; */
 }

 .dragging {
   background-color: #dae8ef; /*   background-color: rgba(0,0,0,0.5); Black background with opacity */
 }

.column {
 /*   flex: 50%; */
   padding: 4px;
}

.container {
  width: 98%;
	max-width: 98%;
  padding-right: 0px;
	padding-left: 0px;
}

.header { margin-bottom: 22px; }
.hidden { text-align: center; font-weight: bold; font-size: 20px; display: none; background-color: lightsteelblue; }
.center { align-items: center; text-align: center; }
.button { padding: 10px; float: right; }

.handle {
	cursor: grab;
}

code {
	color: #606;
}

.list-group-item:hover {
	z-index: 0;
}

.input-section {
	background-color: rgb(255,255,255,0.5);
	padding: 20px;
}

.square-section {
	background-color: rgb(255,255,255,0.5);
}



.grid-square {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: #fff;
	border: solid 1px rgb(0,0,0,0.2);
	padding: 10px;
	margin: 12px;
}

.nested-sortable, .nested-1, .nested-2, .nested-3 {
	margin-top: 5px;
}

.nested-1 {
	background-color: #e6e6e6;
}

.nested-2 {
	background-color: #cccccc;
}

.nested-3 {
	background-color: #b3b3b3;
}

.col {
	padding-right: 0;
	margin-right: 15px;
}

.selected {
	background-color: #f9c7c8;
	border: solid red 1px !important;
	z-index: 1 !important;
}

.highlight {
	background-color: #B7F8C7;
}
